################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FEI2/bin/Debug/db/InternalDB_log.ldf
